<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="main_container">
      <div class="title">
        <h1>Mark Chesney</h1>
        <div class="profile-picture"><h1>Pfp</h1></div>
      </div>
      <div class="card">
        <div class="blurb">
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          ultricies eget, tempor sit amet, ante. Donec eu libero sit amet
          quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
          eleifend leo.
        </div>
      </div>
      <div class="past-work-cards">
        <div class="card">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
        <div class="card">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
        <div class="card">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
        <div class="card">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
      </div>
      <div class="card">
        <div class="solar-description">
          ?????
        </div>
      </div>
      <div class="contact-informartion-card">
        <div class="contact-information">
          <p><%= "Phone number: +44 7793 747817" %></p>
          <p><%= "Email: markpchesney@yahoo.co.uk" %></p>
          <p><%= "Instagram" %></p>
          <p id="linkedin"><a href="https://www.linkedin.com/in/markpchesney/" target="_blank">LinkedIn</a></p>
        </div>
      </div>









    </div>
  </body>
</html>
